body{
  background-color:rgb(237, 237, 237);
}

#navLogo{
  width:245.3333px;
  height:102.8333px;
}

nav{
  background-color:rgba(255,255,255,0.5);
}

footer{
  border-top:0.5px solid white;
  background-color:rgb(212, 213, 214);
  padding-bottom:10px;
  padding-top:30px;
}


.marketing{
  padding-top:30px;
  padding-bottom:30px;
}

.page-title{
  padding-top:30px;
  padding-bottom:30px;
}

.title-image{
  width:300px;
}

.color-accent{
  height:5px;
  background-color: rgb(33,67,124);
}

.marketing-col{
  padding-top:20px;
}

.top-padding-10px{
  padding-top:10px;
}

.portfolio-section{
  padding-top:20px;
  padding-bottom:30px;
}

.portfolio-title{
  padding-top:none;
}

.portfolio-link:hover{
  text-decoration:none;
  color:rgb(127, 127, 127);
}



.zoom{
    transition: transform .2s; /* Animation */
}

.zoom:hover{
    z-index: 1;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.lift{
    transform: translate(0,-350px);
}

.piper-logo-padding{
  padding-top:30%;
  padding-bottom:30%;
}

.carousel-image{
  width:100%;
}


.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 300px; /* Set the fixed height of the footer here */
  /* line-height: 60px; /* Vertically center the text there */ */
}

.padding-20-top-bottom{
  padding-top:20px;
  padding-bottom:20px;
}


/* .carousel-heading{
  font-size:10px;
} */

@media only screen and (max-width: 320px) {
  .carousel-heading {
    font-size: 10px;
  }
}

.grey-bullets{
  list-style-image: url("Images/Bullets/Grey-bullet.png");
}

.text-highlighted{
  color:rgb(188, 71, 69);
}

/* h1{
  font-size:3vw;
}

p{
  font-size:1.5vw;
}

.resize-button{
  width:5vw;
} */
